{namespace m = MageDeveloper\Magelink\ViewHelpers}

<li><m:category.link category="{category}">{category.name}</m:category.link>
    <f:if condition="{category.childIds} != ''">
        <f:then>
            <ul>
                <f:for each="{m:category.repositoryByIds(ids: '{category.childIds}', store: '{store}', refreshAll: '0')}" as="child_category">
                    <f:then>
                        <f:render partial="Category/Type/Navigation" arguments="{category:child_category, store:store}" />
                    </f:then>
                </f:for>
            </ul>
        </f:then>
    </f:if>
</li>