<f:layout name="Default" />
<f:section name="main">

    {namespace m = MageDeveloper\Magelink\ViewHelpers}

    <m:page.jsTranslation keys="please_wait,could_not_call_forgot_password" extension="Magelink" />

    <h1><f:translate key="forgot_password" /></h1>
    
    <f:form action="" name="tx-magelink-forgot-password" id="tx-magelink-forgot-password" class="tx-magelink-form">
        <div class="tx-magelink-form_row">
            <label for="tx-magelink-form-email"><f:translate key="email" /></label>
            <f:form.textfield name="tx-magelink-login-email" id="tx-magelink-login-email" value="zagar@aixdesign.net" class="tx_magelink_input_text" />
        </div>
    
        <button type="button" class="tx_magelink_submit orange" id="tx_magelink_ajax_dispatcher" onClick="tx_magelink_ajax_forgot_password()">
            <f:translate key="send" />
        </button>
    </f:form>
    
    <f:if condition="{settings.display_password_recovery_link}">
        <then>
            <f:link.page class="button back_button">{f:translate(key: "back")}</f:link.page>
        </then>
    </f:if>

</f:section>    