{namespace m = MageDeveloper\Magelink\ViewHelpers}

<m:page.jsTranslation keys="could_not_add_product_to_cart,
                            could_not_fetch_block,
                            could_not_display_block,
                            login_could_not_be_prepared,
                            login_could_not_be_initialized,
                            could_not_call_forgot_password_form,
                            could_not_refresh_cart,
                            could_not_retrieve_cart,
                            could_not_remove_from_cart
                           "
                      extension="Magelink" />

<div class="tx-magelink">
    <f:render section="main" />
</div>

