<?xml version="1.0"?>
<config>
	<modules>
		<MageDeveloper_MageLink>
			<version>0.1.1</version>
		</MageDeveloper_MageLink>
	</modules>
	<global>
		<blocks>
			<magelink>
				<class>MageDeveloper_MageLink_Block</class>
			</magelink>
		</blocks>
		<models>
			<core>
				<rewrite>
					<layout>MageDeveloper_MageLink_Model_Layout</layout>
					<url>MageDeveloper_MageLink_Model_Url</url>
					<store>MageDeveloper_MageLink_Model_Store</store>
				</rewrite>
			</core>
			<magelink>
				<class>MageDeveloper_MageLink_Model</class>
			</magelink>
		</models>
		<helpers>
            <magelink>
                <class>MageDeveloper_MageLink_Helper</class>
            </magelink>
        </helpers>
		<resources>
			<magedeveloper_magelink_setup>
				<setup>
					<module>MageDeveloper_MageLink</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
			</magedeveloper_magelink_setup>
		</resources>	
	</global>		

	<frontend>
		<routers>
			<customer>
				<args>
					<modules>
						<magelink before="Mage_Customer">MageDeveloper_MageLink</magelink>
					</modules>
				</args>
			</customer>
            <magelink>
                <use>standard</use>
                <args>
                    <module>MageDeveloper_MageLink</module>
                    <frontName>magelink</frontName>
                </args>
            </magelink>
		</routers>
		<translate>
			<modules>
				<MageDeveloper_MageLink>
					<files>
						<default>MageDeveloper_MageLink.csv</default>
					</files>
				</MageDeveloper_MageLink>
			</modules>
		</translate>
        <layout>
            <updates>
                <magelink module="MageDeveloper_MageLink">
                    <file>magelink.xml</file>
                </magelink>
            </updates>
        </layout> 
	</frontend>
	
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magelink>
                                            <title>MageLink</title>
                                        </magelink>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <translate>
            <modules>
                <MageDeveloper_MageLink>
                    <files>
                        <default>MageDeveloper_MageLink.csv</default>
                    </files>
                </MageDeveloper_MageLink>
            </modules>
        </translate>
    </adminhtml>

	<default>
		<magelink>
			<t3general>
				<decryption_key>m((=k.42/jnK)?##21.,--HH</decryption_key>
			</t3general>
		</magelink>		
	</default>	 

</config>