<f:layout name="Default" />
<f:section name="main">

    {namespace m = MageDeveloper\Magelink\ViewHelpers}

    <div class="flash_messages">
        <f:flashMessages renderMode="div" />
    </div>
    
    <script type="text/javascript">
        var blockDisplayUrl   = '{f:uri.action(action: "show", controller: "Block", pageType: "1337154991")}';
        tx_magelink_ajax_get_block("{block_id}");
    </script>
    
    <div class="block_content {block_class}" id="{div_id}">
        
    </div>
</f:section>